services:
    Fastbolt\FabricImporter\Console\Command\ImportFromDWHCommand:
        tags: [ 'console.command' ]
        arguments:
            $importManager: '@Fastbolt\FabricImporter\FabricImporterManager'

    Fastbolt\FabricImporter\FabricImporterManager:
        $managerRegistry: '@doctrine'
        $importer: '@Fastbolt\FabricImporter\FabricImporter'
        $definitions: !tagged fastbolt.fabric_importer.definition
